<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styling/global.css">
    <link rel="stylesheet" href="/styling/home.css">
    <script defer src="/scripts/modal.js"></script>
    <title>Safe Store</title>
</head>
<body>
    
    <header>
        <h3 class="page-heading">Safe Store</h3>
        <p>logged in as <span class="username"><%= user.email %></span></p>
    </header>
    <section class="passwords-view">
        <% if(user.accounts.length) {%>
            <% user.accounts.forEach(function(account) { %>
                <div class="password-card">
                    <div class="password-card-initial"> <%= account.accountName[0] %> </div>
                    <div class="password-card-details">
                        <p class="password-card-name"> <%= account.accountName %> </p>
                        <button class="password-card-btn">Password</button>
                    </div>
                </div>
            <% }) %>
        <% } else {%>
            <div class="no-passwords-div">
                <p class="no-passwords-text">No Passwords to be Shown</p>
            </div>
        <% } %>
    </section>
    <section class="operations-view">
        <input type="text" class="operation-search" placeholder="search">
        <div class="password-creation-div">
            <button class="operation-create open-modal">Create</button>
            <div class="modal">
                <div class="close-modal"><p>&times;</p></div>
                <form action="">
                    <div class="form-fields">
                        <div class="form-attribute">
                            <label for="account_name">Account Name:</label>
                                <input type="text" name="account_name">
                                <div class="account-name-error"></div>
                        </div>
                        <%- include("partials/form-fields") %>
                    </div>
                    <div class="submit-button-div">
                        <button class="create-password">Save</button>
                    </div>
                </form>
            </div>
            <div id="overlay"></div>
        </div>
        <button class="operation-delete">Delete</button>
        <a href="/api/logout/users" class="operation-log-out">log out</a>
    </section>

<script>
    const username = document.querySelector(".username").textContent;

    const createButton = document.querySelector(".create-password");

    let createPasswordForm = document.querySelector(".modal > form");

    let accountNameError = document.querySelector(".account-name-error");
    let accountUsernameError = document.querySelector(".email-error");
    let accountPasswordError = document.querySelector(".password-error");
    
    createButton.addEventListener("click", async function(event) {
        event.preventDefault();

        //reset error fields to nothing
        accountNameError.textContent = "";
        accountUsernameError.textContent = "";
        accountPasswordError.textContent = "";

        //getting error fields
        let accountName = createPasswordForm.account_name;
        let accountUsername = createPasswordForm.email;
        let accountPassword = createPasswordForm.password;

        if(!accountName.value) {
            accountNameError.textContent = "Please enter account name";
            return;
        }
        if(!accountUsername.value) {
            accountUsernameError.textContent = "no email/username provided";
            return;
        }
        if(!accountPassword.value) {
            accountPasswordError.textContent = "no password provided";
            return;
        }
        
        try {
            let response = await fetch(`/api/create-password-account/users/${ username }`, {
                method: "PATCH",
                body: JSON.stringify({ accountName, accountUsername, accountPassword }),
                headers: { "Content-Type": "application/json" }
            });
            

            let data = await response.json();

            if(data.error) {
                console.log(data);
                console.log({accountName, accountUsername, accountPassword});
            }

            if(data.user) {
                alert("successfully created user!");
            }
        } catch(err) {
            console.log(err);
        }
    });
</script>
<%- include("partials/footer") %>